<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Complete Game Assets</title>
        <meta charset="UTF-8">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="/css/lightslider.css"/>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/Home_Styles.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/lightslider.js"></script> 
        <script src="/js/slider_prop.js"></script>
    </head>
    <body>
        <header>
            <div class="Container">

            </div>
        </header>
        
        <main class="Container">
            <article>
                <section>
                    <h2 class="Asset_Type_Heading Gap_Genrator">Popular in 2D</h2>
                    <ul id="responsive2D">
                        <li>
                            <img src="Images/1.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/2.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/3.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/4.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/5.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/6.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/7.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/8.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                    </ul>
                </section>

                <hr>

                <section>
                    <h2 class="Asset_Type_Heading">Popular in 3D</h2>
                    <ul id="responsive3D">
                        <li>
                            <img src="Images/9.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/19.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/11.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/12.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/13.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/14.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/15.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                        <li>
                            <img src="Images/16.jpg" alt="">
                            <div class="Desc">
                                <h3 class="Title">Amplify Shader Editor</h3>
                                <p class="Publisher_Name">Amplify Creation</p>
                                <p class="Rating">★ ★ ★ ★ ★ </p>
                                <p class="Price">(40$)</p>
                            </div>
                        </li>
                    </ul>
                </section>
            </article>
        </main>

        <footer>
            <div class="Container">

            </div>
        </footer>
    </body>
</html>